.badge {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 105px;
  padding: var(--space-sm) var(--space-md);

  border-radius: var(--radius-xl);

  border: 1px solid var(--color-border);
  box-shadow: var(--shadow-sm);

  font-size: var(--font-size-caption);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body);
}

.badge--normal {
  background-color: #b9c0cd;
  color: var(--color-surface);
}

.badge--fire {
  background-color: #ff1c1c;
  color: var(--color-surface);
}

.badge--water {
  background-color: #00b2ff;
  color: var(--color-surface);
}

.badge--electric {
  background-color: #ffca02;
  color: var(--color-text-primary);
}

.badge--grass {
  background-color: #34dd01;
  color: var(--color-text-primary);
}

.badge--ice {
  background-color: #bdf3ff;
  color: var(--color-text-primary);
}

.badge--fighting {
  background-color: #ff7802;
  color: var(--color-surface);
}

.badge--poison {
  background-color: #db5ecb;
  color: var(--color-surface);
}

.badge--ground {
  background-color: #d88431;
  color: var(--color-surface);
}

.badge--flying {
  background-color: #57dcf4;
  color: var(--color-text-primary);
}

.badge--psychic {
  background-color: #f86fe5;
  color: var(--color-surface);
}

.badge--bug {
  background-color: #01ae2f;
  color: var(--color-surface);
}

.badge--rock {
  background-color: #92b4a2;
  color: var(--color-surface);
}

.badge--ghost {
  background-color: #b867ad;
  color: var(--color-surface);
}

.badge--dragon {
  background-color: #716ca1;
  color: var(--color-surface);
}

.badge--dark {
  background-color: #7a7f8b;
  color: var(--color-surface);
}

.badge--steel {
  background-color: #bed1ef;
  color: var(--color-text-primary);
}

.badge--fairy {
  background-color: #ffc2f7;
  color: var(--color-text-primary);
}

.badge--selected {
  outline: 3px solid var(--color-primary);
}