.pokemon-detail {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: var(--space-xl);

  display: flex;
  justify-content: center;
}

.pokemon-detail-content {
  display: flex;
  gap: var(--space-xl);
  flex-wrap: wrap;
}

.pokemon-evolutions {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}
